<%= form_for @message do |f| %>
	<div class="form-group">
		<label for="recipient_id">To:</label>		
		<%= f.select :recipient_id, @friends.collect { |p| [ p.friend.username, p.friend.id ] }, include_blank: true, class: "form-control custom-select" %>		
	</div>
	<div class="form-group">
		<!-- <label for="recipient_id">Body:</label> -->
		<%= f.text_area :body, class: "form-control" %>
	</div>
	<div class="form-group">
		<%= f.submit 'Send', class: 'btn btn-success' %>
		<a href="/inbox"><%= button_tag 'Cancel', class: 'btn  btn-danger' %></a>
	</div>
<% end %>