<ul class="user-list">
	<% @friendships.each do |f| %>		
		<li>
			<ul>
				<li><b><%= f.friend.username %></b></li>
				<li>
				<% if friendIsBlocked(f) %>
					<%= form_tag(:controller => "friendships", :action => "unblock") do %>
						<%= hidden_field_tag 'friend_id', f.friend.id %>
						<%= submit_tag "Unblock friend" %>
					<% end %>
				<% else %>
					<%= form_tag(:controller => "friendships", :action => "block") do %>
						<%= hidden_field_tag 'friend_id', f.friend.id %>
						<%= submit_tag "Block friend" %>
					<% end %>
				<% end %>
				&nbsp;				
					<%= form_tag(:controller => "friendships", :action => "destroy") do %>
						<%= hidden_field_tag 'friend_id', f.friend.id %>
						<%= submit_tag "Remove friend" %>
					<% end %>
				</li>
			</ul> 
		</li>
	<% end %>

	<% @inverse_friendships.each do |f| %>		
		<li>
			<ul>
				<li><b><%= f.user.username %></b></li>
				<li>
				<% if friendIsBlocked(f) %>
					<%= form_tag(:controller => "friendships", :action => "unblock") do %>
						<%= hidden_field_tag 'friend_id', f.user.id %>
						<%= submit_tag "Unblock friend" %>
					<% end %>
				<% else %>
					<%= form_tag(:controller => "friendships", :action => "block") do %>
						<%= hidden_field_tag 'friend_id', f.user.id %>
						<%= submit_tag "Block friend" %>
					<% end %>
				<% end %>
				&nbsp;
					<%= form_tag(:controller => "friendships", :action => "destroy") do %>
						<%= hidden_field_tag 'friend_id', f.user.id %>
						<%= submit_tag "Remove friend" %>
					<% end %>
				</li>
			</ul> 
		</li>
	<% end %>
</ul>