<ul>
<% @users.each do |user| %>
	<% if user.id == current_user.id %>
	<% else %>
		<li>
			<b><%= user.username %></b>
			<%= form_tag(:controller => "conversations", :action => "create", remote: true) do %>
				<%= hidden_field_tag 'recipient_id', user.id %>
				<%= hidden_field_tag 'sender_id', current_user.id %>
				<%= submit_tag "send message" %>
			<% end %>
		</li>
	<% end %>
<% end %>
</ul>
